NEXT_PUBLIC_SUPABASE_URL="https://wkysouegemrbwwblhncl.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndreXNvdWVnZW1yYnd3YmxobmNsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTUwMzk1NTQsImV4cCI6MjA3MDYxNTU1NH0.X5gIT4ajsI95wdADA_iCZhdKvrmhm_wx8gzTWKoQi2Q"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndreXNvdWVnZW1yYnd3YmxobmNsIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1NTAzOTU1NCwiZXhwIjoyMDcwNjE1NTU0fQ.E2r0ry6iwXhIHgAEnocMJos5FGwy83HW-6eHocV7Fp4"